<p>
   <strong>Username:</strong>
   <%= @user.username %>
</p>

<p>
   <strong>Password:</strong>
   <%= "*" * @user.password.to_s.length %>
</p>

<p>
   <strong>Password Confirmation:</strong>
   <%= "*" * @user.password_confirm.to_s.length %>
</p>
